.ideas h1,
.ideas h2,
.ideas h3,
.ideas h4 {
  font-family: 'Gilroy', sans-serif;
  color: #303030;
  font-weight: 500;
}




.bg {
  background-color: #F5F5F5;
}

.hero {
  overflow: hidden;
  padding-bottom: 120px;
  position: relative;
}

.ideas h1 {
  font-size: 52px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.offer {
  position: relative;
  padding-top: 100px;
}

/*.offerSnow{*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  position: absolute;*/
/*  left: 0;*/
/*  top: 0;*/
/*  background-image: url('../../images/newyear/background1.webp'), url('../../images/newyear/background2.webp'), url('../../images/newyear/background3.webp');*/
/*  animation: snow 30s linear infinite;*/
/*}*/

@keyframes snow {
  0%{
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100%{
    background-position: 600px 1800px, 600px 1200px, 600px 600px;
  }

}

.offerImg {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(40px, -20px);
  z-index: -1;
  width: 50%;
}

.offerNg {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(50%);
}

.offerTitle {
  max-width: 580px;
}

.offerTitle p {
  max-width: 500px;
  font-size: 20px;
  padding-top: 30px;
  color: #303030;
  margin-bottom: 50px;
}

.button {
  max-width: 300px;
  display: inline-block;
  background-color: #2770B8;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  position: relative;
  z-index: 10;
}

.headerAdv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  text-align: center;
}

.headerLogo {
  display: none;
}

.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.center {
  text-align: center;
}

.headerItem p {
  font-size: 36px;
  font-weight: 300;
}

.headerSocial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
  color: #303030;
}

.mobile {
  display: none;
}

.section {
  padding: 60px 0;
}

.adv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.advList {
  color: #303030;
  max-width: 520px;
}

.advList h2 {
  margin-bottom: 20px;
}

.advItem {
  font-size: 22px;
  margin-bottom: 20px;
}

.advItem span {
  color: #2770B8;
}

.reviewsTitle {
  text-align: center;
  margin-bottom: 80px;
}

.reviews {
  text-align: center;
}

.reviewsSlider {
  margin-bottom: 50px;
}

.words img {
  margin: 60px auto 0;
}

.wordsButton {
  display: block;
  margin: 40px auto 0;
}

.cardsList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  color: #303030;
  list-style-type: disc;
}

.cardsList ul {
  padding-left: 20px;
  margin-bottom: 30px;
}

.cardsList ul,
.cardsList ul li {
  list-style-type: disc;
}

.cardsList ul li {
  margin-bottom: 20px;
  max-width: 90%;
}

.cardsDesc {
  color: #6F6F6F;
  font-size: 14px;
}

.cardsItem {
  list-style-type: disc;
  max-width: 570px;
  width: 100%;
  padding: 50px;
  border:1px solid #ABC5DC;
  border-radius: 5px;
  height: 100%;
}
.cardsItemColor {
  color: #567892;
}

.cardsTitle {
  font-size: 28px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ABC5DC;
}

.cardsBtn {
  display: block;
  margin: 0 auto 20px;
}





@media screen and (max-width: 992px) {
  .headerAdv {
    display: none;
  }

  .hero {
    padding-bottom: 50px;
  }

  .mobile {
    display: block;
  }

  .headerAdv.mobile {
    display: flex;
    max-width: 500px;
    margin: 40px auto 0;
    gap: 20px;
    color: #303030;
  }

  .offer {
    padding-top: 0;
  }
  .offerImg {
    position: static;
    transform: translate(15px, 0px);
    margin: 20px auto 30px;
    width: 80%;
  }

  .offerTitle p {
    font-size: 16px;
  }

  .offerTitle {
    text-align: center;
    margin: 30px auto 0;
  }

  .offerTitle p {
    margin: 0 auto 20px;
  }

  .ideas h1 {
    font-size: 28px;
  }
  .ideas h2 {
    font-size: 26px;
  }

  .adv {
    justify-content: center;
  }

  .advList {
    order: -1;
  }
  .offerNg {
    position: static;
    transform: translateY(0%);
    margin: 0 auto 30px;
  }

  .cardsItem {
    padding: 20px;
  }

  .cardsTitle  h3{
    font-size: 20px;
  }

}






/*.ideas h1,*/
/*.ideas h2,*/
/*.ideas h3,*/
/*.ideas h4 {*/
/*  font-family: 'Gilroy', sans-serif;*/
/*  color: #303030;*/
/*  font-weight: 500;*/
/*}*/

/*.bg {*/
/*  background-color: #F5F5F5;*/
/*}*/

/*.hero {*/
/*  overflow: hidden;*/
/*  padding-bottom: 120px;*/
/*  position: relative;*/
/*}*/

/*.ideas h1 {*/
/*  font-size: 52px;*/
/*}*/

/*.wrapper {*/
/*  max-width: 1200px;*/
/*  margin: 0 auto;*/
/*  padding: 0 15px;*/
/*}*/

/*.offer {*/
/*  position: relative;*/
/*  padding-top: 150px;*/
/*}*/

/*.offer img {*/
/*  position: absolute;*/
/*  right: 0;*/
/*  top: 0;*/
/*  transform: translate(40px, -20px);*/
/*  z-index: -1;*/
/*  width: 50%;*/
/*}*/

/*.offerTitle {*/
/*  max-width: 580px;*/
/*}*/

/*.offerTitle p {*/
/*  max-width: 500px;*/
/*  font-size: 20px;*/
/*  padding-top: 30px;*/
/*  color: #303030;*/
/*  margin-bottom: 50px;*/
/*}*/

/*.button {*/
/*  max-width: 300px;*/
/*  display: inline-block;*/
/*  background-color: #FF9000;*/
/*  text-align: center;*/
/*  padding: 20px 0;*/
/*  font-size: 16px;*/
/*  width: 100%;*/
/*  text-transform: uppercase;*/
/*  color: #303030;*/
/*  font-weight: 700;*/
/*  border-radius: 5px;*/
/*  position: relative;*/
/*  z-index: 10;*/
/*}*/

/*.headerAdv {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  gap: 80px;*/
/*  text-align: center;*/
/*}*/

/*.headerLogo {*/
/*  display: none;*/
/*}*/

/*.headerNav {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  gap: 50px;*/
/*}*/

/*.center {*/
/*  text-align: center;*/
/*}*/

/*.headerItem p {*/
/*  font-size: 36px;*/
/*  font-weight: 300;*/
/*}*/

/*.headerSocial {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  gap: 20px;*/
/*}*/

/*.header {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: flex-start;*/
/*  padding-top: 40px;*/
/*  color: #303030;*/
/*}*/

/*.mobile {*/
/*  display: none;*/
/*}*/

/*.section {*/
/*  padding: 60px 0;*/
/*}*/

/*.adv {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  flex-wrap: wrap;*/
/*  align-items: center;*/
/*  gap: 50px;*/
/*}*/

/*.advList {*/
/*  color: #303030;*/
/*}*/

/*.advItem {*/
/*  font-size: 22px;*/
/*  margin-bottom: 20px;*/
/*}*/

/*.advItem span {*/
/*  color: #FF9000;*/
/*}*/

/*.reviewsTitle {*/
/*  text-align: center;*/
/*  margin-bottom: 80px;*/
/*}*/

/*.reviews {*/
/* text-align: center;*/
/*}*/

/*.reviewsSlider {*/
/*  margin-bottom: 50px;*/
/*}*/

/*@media screen and (max-width: 992px) {*/
/*  .headerAdv {*/
/*    display: none;*/
/*  }*/

/*  .hero {*/
/*    padding-bottom: 50px;*/
/*  }*/

/*  .mobile {*/
/*    display: block;*/
/*  }*/

/*  .headerAdv.mobile {*/
/*    display: flex;*/
/*    max-width: 500px;*/
/*    margin: 40px auto 0;*/
/*    gap: 20px;*/
/*    color: #303030;*/
/*  }*/

/*  .offer {*/
/*    padding-top: 0;*/
/*  }*/
/*  .offer img {*/
/*    position: static;*/
/*    transform: translate(15px, 0px);*/
/*    margin: 20px auto 30px;*/
/*    width: 80%;*/
/*  }*/

/*  .offerTitle p {*/
/*    font-size: 16px;*/
/*  }*/

/*  .offerTitle {*/
/*    text-align: center;*/
/*    margin: 30px auto 0;*/
/*  }*/

/*  .offerTitle p {*/
/*    margin: 0 auto 20px;*/
/*  }*/

/*  .ideas h1 {*/
/*    font-size: 28px;*/
/*  }*/
/*  .ideas h2 {*/
/*    font-size: 26px;*/
/*  }*/

/*  .adv {*/
/*    justify-content: center;*/
/*  }*/


/*}*/

