
.header {
  padding: 15px 0 50px;
  overflow: hidden;
  position: relative;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #567892;
  border-radius: 5px;
  padding: 15px 0;
  font-weight: 600;
}
.button img {
  margin-right: 10px;
}

.logo {
  position: relative;
}
.logo:before {
  content: "";
  width: 76px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 3px;
  border: 0.5px solid #E3DFD7;
  border-radius: 50%;
}

.offer {
  padding-top: 150px;
  position: relative;
}
.offer .star1 {
  position: absolute;
  top: 65px;
  left: 110px;
}
.offer .star2 {
  position: absolute;
  top: 0;
  left: 195px;
}
.offer .star3 {
  position: absolute;
  left: 190px;
  top: 220px;
}
.offer__img {
  position: absolute;
  right: -60px;
  top: 0;
  transform: scale(0.9);
}
.offer__title h1 {
  margin-bottom: 20px;
}
.offer__decor {
  position: absolute;
  left: 40px;
  bottom: -40px;
}
.offer__desc {
  position: relative;
  padding-right: 15px;
}
.offer__arrow {
  position: absolute;
  right: -16px;
  bottom: 5px;
  transform: translateY(100%);
}

.prod {
  padding-bottom: 120px;
  position: relative;
}
.prod .star4 {
  position: absolute;
  left: 30px;
  bottom: 50px;
}
.prod .star5 {
  position: absolute;
  left: 70px;
  bottom: 0;
}
.prod__caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
}
.prod__item:not(:last-child) {
  margin-bottom: 40px;
}
.prod__item.closed {
  opacity: 0.5;
}
.prod__card {
  display: flex;
  align-items: center;
  margin-top: 15px;
  border: 1px solid #E3DFD7;
  border-radius: 5px;
  padding: 15px;
}
.prod__card-inner {
  max-width: 90%;
}
.prod__card-title {
  font-weight: 500;
}
.prod__card__description {
  font-size: 12px;
  margin-top: 10px;
}
.prod__card-img {
  flex-shrink: 0;
  margin: 0 5px;
}
.prod__card-arrow {
  flex-shrink: 0;
}

.question {
  padding-top: 20px;
  position: relative;
}
.question .star6 {
  position: absolute;
  left: 80px;
  top: -20px;
}
.question h2 {
  margin-bottom: 20px;
}
.question__img1 {
  position: absolute;
  right: 0;
  bottom: 150px;
}
.question__img2 {
  position: absolute;
  right: 90px;
  bottom: 110px;
}

.social {
  overflow: hidden;
}
.social__list {
  padding-top: 20px;
}
.social__item {
  margin-bottom: 40px;
}
.social__item p {
  margin-bottom: 20px;
  position: relative;
}
.social__item p img {
  position: absolute;
  right: -17px;
  bottom: -10px;
}