.wrapper {
  max-width: 770px;
  padding: 0 15px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.checkoutHeader {
  position: relative;
  padding-top: 15px;
}

.checkoutText {
  color: #1c1c1c;
  padding-top: 15px;
  max-width: 800px;
  margin: 0 auto;
}

.checkoutTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.checkoutDescription {
  padding-top: 30px;
  margin-bottom: 20px;
}

.checkoutInput {
  padding: 15px 20px;
  border: 1px solid #ABABAB;
  border-radius: 5px;
  display: block;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

.checkoutButton {
  font-weight: 600;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  padding: 15px 0;
  background-color: #567892;
  border-radius: 5px;
}

.checkoutValidation {
  margin-left: 20px;
  font-size: 14px;
  color: #EB3230;
  text-align: left;
  margin-top: 5px;
}

.checkoutBack {
  padding-top: 20px;
}

.checkoutBox {
  margin-bottom: 40px;
}

.checkoutBackButton {
  background-color: transparent;
  display: block;
  margin-bottom: 20px;
  color: #1c1c1c;
}

.checkoutBackButton svg {
  margin-right: 10px;
}

.checkoutProducts {
  margin-bottom: 20px;
}

.checkoutProductsItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.checkoutProductsBox {
  display: flex;
  align-items: center;
}

.checkoutProductsItem:not(:last-child) {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ABABAB;
}

.checkoutProductsTitle {
  margin-right: 15px;
}

.checkoutProductsItem img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}