.products {
  padding-bottom: 60px;
}

.products-list {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(46%, 1fr));
  grid-gap: 20px;
}

.products-item {
  max-width: 185px;
}

.products-img {
  border-radius: 10px;
  margin-bottom: 10px;
}

.products-title {
  margin-bottom: 5px;
  line-height: 1.2em;
  font-weight: 500;
}

.products-price {
  font-size: 14px;
  line-height: 1.5em;
}

.products-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.products-ages {
  font-size: 14px;
  line-height: 1.5em;
  color: #CF8C67;
}

.products-actions {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
}

/*styles for single page*/

.c-product {
  padding-bottom: 50px;
}

.c-product h1 {
  font-size: 26px;
  font-family: 'Gilroy', sans-serif;
}

.c-product h2 {
  font-size: 24px;
  font-family: 'Gilroy', sans-serif;
}

.c-product-img {
  border-radius: 10px;
}

.c-product-meta {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.c-product-price {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 15px;
}

.c-product-price span {
  color: #CF8C67;
}

.c-product-age {
  font-weight: 500;
  line-height: 1.2em;
  margin-bottom: 20px;
}

.c-product-age span {
  font-size: 14px;
  font-weight: 400;
}

.c-product-tabs-caption {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
  border: 1px solid #E3DFD7;
  border-radius: 5px;
}

.c-product-tabs-cap {
  padding: 5px 0;
  text-align: center;
  font-weight: 500;
  transition: 0.3s;
}
.c-product-tabs-cap.selected {
  background-color: #567892;
  color: #fff;
}

.c-product-tabs-cap:nth-child(1) {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.c-product-tabs-cap:nth-child(3) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.c-product-tabs-cap:nth-child(2) {
  border-right: 1px solid #E3DFD7;
  border-left: 1px solid #E3DFD7;
  border-radius: 0!important;
}

.c-product-tabs-content {
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.5em;
}

.c-product-video {
  padding-top: 40px;
}

.c-product-video h2 {
  margin-bottom: 20px;
}




















